/**
 * main.scss - admin theme styles for ProcessWire
 *
 */

@import 'vars';
@import 'mixins';
@import 'reset';
@import 'jquery-ui';
@import 'form';
@import 'inputfields';
@import 'typography';

body {
	font-family: 'SourceSansProReg', sans-serif;
	font-size: 15px;
}

#masthead {
	float: left;
	width: 20%;
}

#content {
	position: absolute;
	left: 20%;
	width: 80%;
}

#topnav-mobile,
.collapse-topnav-menu {
	display: none;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 20%;
}


#topnav > li {
	margin: 1em 0
}